<div class="search-header">
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        
        <form>
          <h2 class="v-center">search</h2>
          <p class="lead">/// find a superhero or villian by name</p>
          
          <div class="input-group">
            <input type="text" class="form-control input-md"/>
            <span class="input-group-btn">
            	<button 
            		type="submit"
            		class="btn btn-md btn-warning pull-right">
            		search
            	</button>
            </span>
          </div>  
        </form>

        <div class="more-results-block">
          <p>
            <hr/>
          </p>
          <div>
            <p>
            	<a style="cursor: pointer" class="h5">

            	</a>
            </p>
          </div>
        </div>
        
      </div>
   
      <div class="col-md-1"></div>

    </div>
  </div>
</div>